{
  "parser": "babel-eslint",
  "parser-options": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "extends": "airbnb",
  "rules": {
    "import/no-unresolved": 0
  }
}

